*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.controls {
    padding-left: 50px;
}

button {
    margin: 15px;
    height: 25px;
    font-size: 1rem;
    width: auto;
}

.slides {
    position: relative;
    height: 500px;
}

.slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 50px;
    z-index: -1; /* create a new stacking context for each set of blinds */
}

.slide.opened {
    z-index: 0;
}

.blind {
    font-family: Helvetica;
    font-size: 2rem;
    opacity: 0;
    transition: opacity 150ms;
}

.blind.opened {
    opacity: 1;
}

